*,html {
  scroll-behavior: smooth;
  }
  *, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }

  :root {
  scrollbar-color: rgb(255, 255, 255) !important;
  scrollbar-width: thin !important;
  --white:#fff;
  --black:#181818;
  --dark:#2d2f30;
  --gray:rgba(1,1,1,0.7);
  --lite:rgba(255,255,255,0.7);
  --secondaryfont:'Exo 2', sans-serif;
  --titleheadersize:2.5em;
  --subtitleheadersize:1.5em;
  --respotitleheadersize:1.5em;
  --resposubtitleheadersize:1.1em;
  }
  ::-webkit-scrollbar {
  height: 12px;
  width: 6px;
  /* background: linear-gradient(rgba(1,1,1,.5), rgba(1,1,1,.5)), url("background.jpg"); */
  background: white;
  }
  ::-webkit-scrollbar-thumb {
  background-color: black;
  -webkit-box-shadow: white(0, 0, 0, 0.75);
  }
  ::-webkit-scrollbar-corner {
  background: white;
  }



  body {
  margin: 0;
  overflow-x: hidden !important;
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  }

  a {
  text-decoration: none;
  }

  a, button { 
  transition: 0.5s;
  }

  a, button, input, select, textarea {
  outline: none !important;
  }

  ul {
  position: relative;
  left: -20px;
  }

  p {
  line-height: 1.4em;
  letter-spacing: 0.08em;
  color: rgba(1,1,1,0.7);
  }

  fieldset {
  border: 0;
  }

  em {
  font-style: normal;
  color: lightgray;
  font-weight: 600;
  }

  .title {
  font-size: 3em;
  font-weight: 600;
  line-height: 1.2;
  /* font-family: 'IBM Plex Sans Thai Looped', sans-serif; */
  }

  .sub-title {
  font-weight:400;
  line-height:1.4;
  /* font-family: 'IBM Plex Sans Thai Looped', sans-serif;; */
  }

  .btn1, .btn2 {
  text-align: center;
  padding: 10px 40px;
  border-radius: 5px;
  display: inline-block;
  }

  .btn1 {
  background-color: transparent;
  color: white;
  border: 2px solid lightgray;
  font-weight: 400;
  }

  .btn2 {
  background-color: black;
  color: white;
  border: 0;
  }

  .btn2:hover {
  background-color: lightgray;
  }

  .title_header {
  width: 60%;
  margin: auto;
  text-align: center;
  padding: 1rem;
  }

  .title_header .title {
  font-size: 1.5em;
  position: relative;
  overflow: hidden;
  z-index: 11;
  }

  .title_header .sub-title {
  font-size: var(--subtitleheadersize);
  color: gray;
  }

  @media (max-width:920px) {
  .title {
  font-size: 1.5em;
  }
  .sub-title {
  font-size: 1.1em;
  }
  .btn1, .btn2 {
  padding: 10px 20px;
  }
  .title_header {
  width: 100%;
  }
  .title_header .title:after {
  bottom: 5px;
  }
  .title_header .title {
  font-size: var(--respotitleheadersize);
  }
  .title_header .sub-title {
  font-size: var(--resposubtitleheadersize);
  }
  @media (max-width:420px) {
  .title_header .title:after {
  bottom: 0px;
  }
  }
  }










  header {
  width: 100%;
  background: linear-gradient(rgba(1,1,1,.5), rgba(1,1,1,.5)), url("background.jpg");
  display: flex;
  }

  header section {
  width: 100%;
  padding: 0.5rem 2rem;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  }

  header section span {
  padding: 0 1rem;
  text-align: center;
  white-space: nowrap;
  }

  header section span a {
  color: var(--lite);
  }

  header section span a:hover {
  color: var(--white);
  }

  header section:nth-child(1) span:not(:last-child){
  border-right: 1px solid rgba(255,255,255,0.3);
  }

  header span .fa {
  margin: 0 5px;
  }

  header .btn1 {
  padding: 5px 10px !important;
  }

  @media (max-width:820px) {
  header section:nth-child(1) {
  display: none !important;
  }
  header section {
  padding: 0.5rem 0rem;
  }
  } 

  @media (max-width:340px) {
  header section span {
  padding: 0 2px;
  }
  }








  nav {
  position: sticky;
  top: 0;
  z-index: 999;
  }

  .topnav {
  overflow: hidden;
  background-color: #fff;
  }

  .logo {
  float: left !important;
  margin: 0 !important;
  }

  .topnav a {
  float: right;
  display: block;
  color: gray;
  text-align: center;
  padding: 1px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 25px 15px;
  }

  .active {
  color: black;
  }

  .topnav .icon {
  display: none;
  position: absolute;
  right: 0px;
  top: 0;
  margin: 20px 10px;
  }

  .dropdown {
  float: right;
  overflow: hidden;
  }

  .dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: gray;
  padding: 1px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 25px 15px;
  }

  .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-top: 4px solid black;
  }

  .dropdown-content:before {
  content: "";
  font-family: "FontAwesome";
  position: absolute;
  top: -11%;
  left: 45%;
  color: black;
  }

  .dropdown-content a {
  float: none;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  margin: 0;
  }

  .topnav a:hover, .dropdown:hover .dropbtn {
  color: var(--white);
  }

  .dropdown-content a:hover {
  background-color: #ddd;
  color: black;
  }

  .dropdown:hover .dropdown-content {
  display: block;
  }

  @media screen and (max-width: 1000px) {
  .topnav a,.logo {
  float: none !important;
  text-align:left;
  }
  .logo img {
  width: 150px;
  }
  .topnav a:not(:first-child), .dropdown .dropbtn {
  display: none;
  }
  .topnav a.icon {
  display: block;
  }
  }

  @media screen and (max-width: 1000px) {
  .topnav.responsive {position: relative;}

  .topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
  margin: 10px 0;
  }
  .dropdown-content:before {
  display:none;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
  display: block;
  width: 100%;
  text-align: left;
  margin:5px 0;
  }
  .topnav.responsive .dropdown-content a {
  margin:0;
  }
  }







  .banner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  background: linear-gradient(rgba(1,1,1,.5), rgba(1,1,1,.5)), url("background.jpg");
  background-size: cover;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  }

  .banner section {
  width:60%;
  padding:6rem 2rem;
  color:var(--white);
  text-align:left;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  }

  .banner section .title {
  font-weight:200;
  }

  .banner section .sub-title {
  line-height:0;
  font-weight:200;
  color:rgba(255,255,255,1);
  }

  @media (max-width:1020px) {
  .banner section{
  width:100%;
  padding:6rem 1rem;
  } 
  .banner section em {
  line-height:1;
  }
  }










  .section2 {
  width: 100%;
  display: flex;
  align-items: center;
  }

  .section2 section {
  width: 100%;
  padding: 2rem;
  }

  .section2 section img {
  width: 100%;
  }

  .section2 section em {
  position: relative;
  top: 20px;
  }

  .section2 section .title {
  font-size: 2em;
  }

  @media (max-width:1080px) {
  .section2 section .title {
  font-size:1.4em;
  }
  }

  @media (max-width:920px) {
  .section2 {
  flex-wrap:wrap;
  }
  .section2 section {
  padding:1rem;
  }
  .section2 section em {
  top:10px;
  }
  .section2 section img {
  display:none;
  }
  }




  .section3 {
  width: 100%;
  display: flex;
  align-items: center;
  }

  .section3 section {
  width: 100%;
  padding: 2rem;
  }

  .section3 section em {
  position: relative;
  top: 20px;
  }

  .section3 section .title {
  font-size: 2em;
  }

  .section3 section img {
  width: 100%;
  }

  @media (max-width:1080px) {
  .section3 section .title {
  font-size: 1.4em;
  }
  }

  @media (max-width:920px) {
  .section3 {
  flex-wrap: wrap;
  }
  .section3 section {
  padding: 1rem;
  }
  .section3 section em {
  top: 10px;
  }
  }




  .section4 {
  width: 100%;
  background-image: url("background.jpg");
  padding: 2rem;
  border-top: 4px solid lightgray;
  }

  .section4 .title_header {
  color: var(--white);
  }

  .section4 .title_header p {
  color: white;
  }

  .section4 section {
  padding: 0rem 2rem;
  display: flex;
  align-items: top;
  }

  .section4 section .card {
  width: 100%;
  background-color: transparent;
  padding: 2rem;
  text-align: center;
  border-radius: 5px;
  margin: 15px;
  transition: 0.5s;
  color: black;
  background-color: white;
  }

  .section4 section .card:hover {
  -webkit-box-shadow: inset 1px 1px 10px rgba(255,255,255,0.3);
  -moz-box-shadow:    inset 1px 1px 10px rgba(255,255,255,0.3);
  box-shadow:         inset 1px 1px 10px rgba(255,255,255,0.3);
  }

  .section4 section .card .title {
  font-size: 1.2em;
  }

  @media (max-width:920px) {
  .section4 {
  padding: 2rem 0rem;
  }
  .section4 section {
  padding: 0rem 1rem;
  flex-wrap: wrap;
  }
  .section4 section .card {
  margin: 10px 0;
  }
  }









  /* .slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  }
  .slider::before, .slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
  }
  .slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
  }
  .slider::before {
  left: 0;
  top: 0;
  }
  .slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
  }
  .slide-track:hover {
  -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused;
    animation-play-state:paused;
  }
  .slider .slide {
  height: 100px;
  width: 250px;
  } */

  #trusted{
    padding:3rem 0;
    background:#f9fafb
}
#trusted a{
    padding:0 1.5rem;
    display:block;
    color:#8391a7
}
#trusted a svg{
    display:block
}
@media all and (max-width: 768px){
    #trusted a svg{
        display:block;
        max-width:140px;
        margin:0 auto;
        margin-bottom:.75rem
    }
    #trusted .row{
        display:block !important
    }
}






  .section6{
  background: linear-gradient(rgba(1,1,1,.5), rgba(1,1,1,.5)), url("background.jpg");
  display: flex;
  align-items: center;
  }

  .section6 section {
  width: 100%;
  padding: 2rem 4rem;
  }

  .section6 section .title {
  font-weight: 400;
  color: white;
  }

  .section6 section:nth-child(2) {
  text-align: center;
  }

  .section6 section p {
  color: white;
  }

  @Media (max-width:1020px) {
  .section6 {
  display: block;
  }
  .section6 section {
  padding: 1rem 1rem;
  text-align: center;
  }
  .section6 section .btn2 {
  float: none;
  }
  }









  .footer {
  /* background-color: white; */
  background-color: black;
  width: 100%;
  display: flex;
  align-items: top;
  padding: 5rem 0;
  }

  .footer section {
  padding: 1rem 2rem;
  width: 100%;
  vertical-align: top;
  }

  .footer section p {
  /* color: black; */
  color: white;
  }

  .footer section h3 {
  /* color: black; */
  color: white;
  }

  .footer section a {
  /* color: black; */
  color: white;
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin: 15px 0;
  }

  .footer section a:hover {
  color: white;
  }

  .footer section:nth-child(2) a:before,.footer section:nth-child(3) a:before {
  content: "";
  font-family: "FontAwesome";
  margin-right: 5px;
  /* color: black; */
  color: white;
  }

  .footer section a span {
  margin: 0 10px;
  }

  .sub-footer {
  background-image: url("background.jpg");
  text-align: center;
  color: var(--lite);
  padding: 1rem 0;
  }

  @media (max-width:1020px) {
  .footer {
  display: block;
  }
  .footer section {
  padding: 1rem 1rem;
  }
  .footer section:nth-child(2), .footer section:nth-child(3) {
  width: 49%;
  display: inline-block;
  }
  }







  #roll_back {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background: linear-gradient(rgba(1,1,1,.5), rgba(1,1,1,.5)), url("background.jpg");
  border-radius: 5px;
  border: 2px solid white;
  padding: 5px 10px;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999999;
  box-shadow: 0px 6px 16px -6px rgba(1,1,1,0.5);
  color: white;
  font-weight: 900;
  }










  @-webkit-keyframes scroll {
  0% {
  transform: translateX(0);
  }
  100% {
  transform: translateX(calc(-250px * 7));
  }
  }

  @keyframes scroll {
  0% {
  transform: translateX(0);
  }
  100% {
  transform: translateX(calc(-250px * 7));
  }
  }



  .animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
  }

  @-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
  }

  @keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
  }







  .credits {
  padding: 5px;
  background: linear-gradient(rgba(1,1,1,.5), rgba(1,1,1,.5)), url("background.jpg");
  font-size: 13px;
  color: white;
  position: fixed;
  bottom: 5%;
  right: 0;
  z-index: 9999;
  }

  .credits a {
  color: white;
  }

  .credits a:hover {
  color: white;
  }